/Info5100-University-Example/build/
/Info5100-University-Example/nbproject/private/
/ProfileWorkareaExample 3/ProfileWorkareaExample/build/
/ProfileWorkareaExample 3/ProfileWorkareaExample/nbproject/private/
/Midterm_Project_Team06/ProfileWorkareaExample/build/
/Midterm_Project_Team06/ProfileWorkareaExample/dist/
/Midterm_Project_Team06/ProfileWorkareaExample/nbproject/private/
